<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekyouup.android.ustopwatch"
    android:installLocation="auto"
    android:versionCode="40"
    android:versionName="6.0.5">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--UXCam permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--Optional UXCam Permissions-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.theme_usw">

        <meta-data
            android:name="uxcam_app_key"
            android:value="b853beadc3c3c85" />

        <activity
            android:name=".UltimateStopwatchActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:icon="@drawable/icon_ab"
            android:label="@string/app_name_caps" />

        <service android:name=".AlarmUpdater$UpdateService" />

        <!--UXCam services-->
        <service android:name="com.uxcam.lib.video.camera.RecorderService" />
        <service android:name="com.uxcam.lib.service.HttpPostService" />

    </application>
</manifest> 